<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>

    <div id="app">
		<component :is='type'></component>
		<!-- <child-one v-if='type === "child-one"'></child-one>
		<child-two v-if='type === "child-two"'></child-two> -->
		<button @click='handleClick'>toggle</button>
	</div>
    <script>
		Vue.component('child-one', {
			template: '<div>child-one</div>'
		})

		Vue.component('child-two', {
			template: '<div>child-two</div>'
		})

        var vm = new Vue({
            el: '#app',
			data: {
				type: 'child-one'
			},
			methods: {
				handleClick: function(){
					this.type = this.type === 'child-one' ? 'child-two' : 'child-one'
				}
			}
        })
    </script>
</body>
</html>
